.Breadcrumbs-container-flex {
    flex: 0 auto;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.Breadcrumbs-container-flex a {
    font-weight: bold;
    color: black;
}

.Notebook .Breadcrumbs-container-flex {
    height: 40px;
    padding-left: var(--left-padding);
    background-color: rgba(102, 102, 153, 0.2);
}

.nav_icon {
    height: 22px;
    width: 22px;
}