.Breadcrumbs-container-flex {
    flex: 0 auto;
    background-color: #eee;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.Breadcrumbs-container-flex a {
    font-weight: bold;
    color: black;
}

.Notebook .Breadcrumbs-container-flex {
    height: 36px;
    padding-left: var(--left-padding);
}
