.Footer-style-flex {
    overflow: auto;
    margin-top: auto;
    margin-bottom: 0;
    flex: 0 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* The footer tag - default values (should be overridden by theming) */
.mastfoot {
    color: rgba(255, 255, 255, .9);
    background-color: #000;
    flex: 1 1 auto;
}

.mastfoot p {
    padding: 3px;
    margin: 0px;
}

/* Smartphone theming */
.Smartphone .mastfoot {
    background-color: #ccc;
}

/* Smartphone theming */
.Tablet .mastfoot {
    background-color: #ccc;
}

/* Smartphone theming */
.Notebook .mastfoot {
    background-color: #000;
    padding-left: var(--left-padding);
    padding-right: var(--right-padding);
}

.nav-mastfoot {
    text-align: center;
}

.nav-link-mastfoot {
    padding-left: 1em;
}

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}
