.Footer-style-flex {
    overflow: auto;
    margin-top: auto;
    margin-bottom: 0;
}

.mastfoot {
    color: rgba(255, 255, 255, .9);
    background-color: black;
    height: 75px;
}

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}
