.Header-style-flex {
    overflow: auto;
    flex: 1 0 auto;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-content: stretch;
}

.inner {
    width: 100%;
    background-color: #00aeff;
}

/* Smartphone theming */
.Smartphone .inner {
    height: 1px;
}

.Smartphone .masthead-brand {
    visibility: collapse;
}

.Smartphone .nav-masthead {
    visibility: collapse;
}

/* Smartphone theming */
.Tablet .inner {
    height: 3px;
}

.Tablet .masthead-brand {
    visibility: collapse;
}

.Tablet .nav-masthead {
    visibility: collapse;
}

/* Notebook theming */
.Notebook .inner {
    height: 150px;
}

.Notebook .masthead-brand {
    visibility: visible;
    float: left;
}

.Notebook .nav-masthead {
    visibility: visible;
    float: right;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

