.Header-style-flex {
    overflow: auto;
    flex: 0 0 auto;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
}

.left {
    flex-flow: column wrap;
    display: flex;
}

.left h1 {
  font-size: 3.5em;
  color: red;
  padding-top: 0px;
  margin: 0px;
}

.left p {
    font-family: 'Brush Script MT', cursive;
    font-size: 2em;
    color: #3399ff;
    padding: 0px;
    margin: 0px;
}

.middle {
    flex: 1 0 auto;
}

.right {
    margin-left: auto;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}


/* Smartphone theming */
.Smartphone .Header-style-flex {
    height: 1px;
}

.Smartphone .left .middle .right {
    visibility: collapse;
}

/* Tablet theming */
.Tablet .Header-style-flex {
    height: 0px;
}

.Tablet .left .middle .right {
    visibility: collapse;
}

/* Notebook theming */
.Notebook .Header-style-flex {
    height: 120px;
    padding-left: var(--left-padding);
    padding-right: var(--right-padding);
}

.Notebook .masthead-brand {
    visibility: visible;
    float: left;
}

.Notebook .nav-masthead {
    visibility: visible;
    float: right;
}
