/*
 * CSS for all layouts!
*/
html,
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen','Ubuntu', 'Cantarell', 'Fira Sans',
      'Droid Sans', 'Helvetica Neue',
      sans-serif;
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* Flexbox seems to get confused about the root element of React.. */
.Root-flex {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: center;
    margin: 0;
    height: 100%;
    overflow: auto;
}
