.Menu-container-flex {
    flex: 0 0 auto;
}

.menu_head_entry {

}

.menu_head_entry h3 {

}

.menu_head_entry p {

}

.menu_head_entry ul {

}

.menu_head_entry li {

}

.Smartphone .Menu-container-flex {
    height: 35px;
    background-color: #abc;
}

.Tablet .Menu-container-flex {
    height: 50px;
    background-color: rgba(102, 102, 153, 0.3);
     color: #66ffff;
}

.Notebook .Menu-container-flex {
    padding-left: var(--left-padding);
    padding-right: var(--right-padding);
    background-color: rgba(102, 102, 153, 0.3);
}