.top_menu {
    display: none;
}
@include media-breakpoint-up(sm) {
    .top_menu {
        display: block;
        height: 2em;
    }
}
@include media-breakpoint-up(md) {
 .top_menu {
     display: block;
     height: 3em;
 }
}
body, html {
  height: 100%;
}

body {
  background-size: cover;
  font-family: 'Lato', Arial, Helvetica, sans-serif;
}

.pt-25 {
  padding-top: 25%;
}

.text-lg {
  font-size: 5em;
}

.text-shadow {
  text-shadow: .1em .1em .15em #000;
}

@include media-breakpoint-up(lg) {
 .top_menu {
     display: block;
     height: 4em;
 }
}
@include media-breakpoint-up(xl) {
    .top_menu {
        display: block;
        height: 5em;
    }
}
.main_content {
    display: block;
}
.bottom_info {
    display: block;
}