/* Overwrite CSS from index.css */
.Desktop {
  text-align: center;
}

.Desktop-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .Desktop-logo {
    animation: Desktop-logo-spin infinite 20s linear;
  }
}

.Desktop-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Desktop-space-div {
    display: flex;
    flex-direction: row;
}

.Desktop-space_left {
    float: left;
    background-color: blue;
}

.Desktop-space_right {
    float: right;
    background-color: red;
}

.Desktop-link {
  color: #61dafb;
}

@keyframes Desktop-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
